name: Scheduled Events

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

permissions:
  issues: write

jobs:
  reminder:
    name: Notify
    runs-on: ubuntu-latest

    steps:
    - name: ⚠️ Notify
      uses: agrc/reminder-action@v1
